<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--notification page-->
<head>
    <title>Fishbook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
</head>

<body>
<div th:replace="/widgets/header :: header"></div>

<div class="container">
    <div class="list-group">

        <!-- Unread Notifications-->
        <tr th:each="readN, readNStat: ${unreadN}">
            <div href="#"
                 class="list-group-item list-group-item-action flex-column border-primary align-items-start my-3 ">
                <div class="d-flex w-100 justify-content-between mb-1">
                    <h6 class="mb-1">
                        <img class="mr-1" th:src=${readN.trigger.imagepath} style="height:30px; width:30px;"
                             th:text=${readN.trigger.username}>
                    </h6>
                    <small th:text="${readNStat.index}*3 + ' minutes ago (unread)'"></small>
                </div>
                <p th:text=${readN.text}></p>

                <button th:if=" ${readN.hasPost} eq 1" type="button" class="btn btn-outline-info"
                        data-toggle="modal"
                        th:data-target="'#unread'+${readNStat.index}" th:text=${readN.post.content}>
                </button>

            </div>

            <div th:if=" ${readN.hasPost} eq 1" class="modal fade" th:id="'unread'+${readNStat.index}" tabindex="-1"
                 role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                <img th:src=${session.user.imagepath} style="height:30px; width:30px;"
                                     th:text=${session.user.username}/></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <!-- Post Image -->
                            <img class="card-img-bottom"
                                 th:src=${readN.post.imagepath}
                                 data-holder-rendered="true"
                                 style="height: 100%; width: 100%;"/>
                            <!-- Post Description -->
                            <p class="card-caption mt-3" th:text=${readN.post.content}>3 lb. Largemouth Bass</p>
                            <!-- Comment, Likes, Share -->
                            <div class="d-flex justify-content-between align-items-center mx-1">

                                <button class="btn btn-primary" name="showComment"
                                        data-toggle="collapse" th:href="'#commentGList' +  ${readNStat.index}"
                                        th:onclick= "'showComment('+ ${readN.post.postid} + ','+ ${readNStat.index} + ')'"
                                        role="button" aria-expanded="false">
                                    <i class="fa fa-comment"></i>
                                </button>

                                <a class="btn">
                                    <i class="fas fa-thumbs-up" th:text=${readN.post.likecount}> </i>
                                </a>
                                <i class="fas fa-share-alt-square"></i>
                            </div>
                        </div>

                        <div class="modal-footer">
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="collapse multi-collapse" th:id="'commentGList' +  ${readNStat.index}">
                                    <div class="list-group">
                                        <!-- Comment Form -->
                                        <a class="list-group-item list-group-item-action flex-column">
                                                <div class="form-group row align-items-center">
                                                    <div class="col-md-12">
                                                        <textarea class="form-control"
                                                                  th:id="'feedback' + ${readNStat.index}"
                                                                  name="feedback" rows="4"
                                                                  placeholder="Make a comment"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex">
                                                    <div>
                                                        <button type="button" class="btn btn-secondary btn-sm"
                                                                data-dismiss="modal">
                                                            Cancel
                                                        </button>
                                                        <button type="submit" name="submitComment"
                                                                th:onclick = "'submitComment('+ ${readN.post.postid} + ','+ ${readNStat.index} + ')'"
                                                                class="btn btn-primary btn-sm">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                        </a>

                                        <!-- Comments -->
                                        <div th:id="'commentList' + ${readNStat.index}">

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </tr>


        <!-- Read Notifications-->
        <tr th:each="readN, readNStat: ${readN}">
            <div href="#"
                 class="list-group-item list-group-item-action flex-column align-items-start my-3 ">
                <div class="d-flex w-100 justify-content-between mb-1">
                    <h6 class="mb-1">
                        <img class="mr-1" src="https://placekitten.com/400/400" style="height:30px; width:30px;"
                             th:text=${readN.trigger.username}>
                    </h6>
                    <small th:text="${readNStat.index}*5 + ' minutes ago (unread)'"></small>
                </div>
                <p th:text=${readN.text}></p>

                <button th:if=" ${readN.hasPost} eq 1" type="button" class="btn btn-outline-info"
                        data-toggle="modal"
                        th:data-target="'#unread'+${readNStat.index}" th:text=${readN.post.content}>
                </button>

            </div>

            <div th:if=" ${readN.hasPost} eq 1" class="modal fade" th:id="'unread'+${readNStat.index}" tabindex="-1"
                 role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="aaexampleModalLongTitle">
                                <img th:src=${session.user.imagepath} style="height:30px; width:30px;"
                                     th:text=${session.user.username}/></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <!-- Post Image -->
                            <img class="card-img-bottom"
                                 th:src=${readN.post.imagepath}
                                 data-holder-rendered="true"
                                 style="height: 100%; width: 100%;"/>
                            <!-- Post Description -->
                            <p class="card-caption mt-3" th:text=${readN.post.content}>3 lb. Largemouth Bass</p>
                            <!-- Comment, Likes, Share -->
                            <div class="d-flex justify-content-between align-items-center mx-1">

                                <button class="btn btn-primary" name="showComment"
                                        data-toggle="collapse" th:href="'#commentList' +  ${readNStat.index}"
                                        th:value=${readN.post.postid}
                                        role="button" aria-expanded="false">
                                    <i class="fa fa-comment"></i>
                                </button>

                                <a class="btn">
                                    <i class="fas fa-thumbs-up" th:text=${readN.post.likecount}> </i>
                                </a>
                                <i class="fas fa-share-alt-square"></i>
                            </div>
                        </div>

                        <div class="modal-footer">
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="collapse multi-collapse" th:id="'commentList' +  ${readNStat.index}">
                                    <div class="list-group">
                                        <!-- Comment Form -->
                                        <a class="list-group-item list-group-item-action flex-column">
                                            <div class="form-group row align-items-center">
                                                <div class="col-md-12">
                                                        <textarea class="form-control"
                                                                  th:id="'feedback' + ${readN.post.postid}"
                                                                  name="feedback" rows="4"
                                                                  placeholder="Make a comment"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex">
                                                <div>
                                                    <button type="button" class="btn btn-secondary btn-sm"
                                                            data-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <button type="submit" name="submitComment"
                                                            class="btn btn-primary btn-sm">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </a>

                                        <!-- Comments -->
                                        <div th:id="'commentList' + ${readN.post.postid}">
                                            <div class="list-group-item list-group-item-action flex-column">
                                                <div class="d-flex flex-column align-items-start">
                                                    <h6 class="mb-1"></h6>
                                                    <p class="mb-1">
                                                    </p>
                                                    <small class="text-muted">3 days ago</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </tr>


        <!-- Fake Data-->

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-3 ">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">
                    <img class="mr-1" src="https://placekitten.com/500/500" style="height:30px; width:30px;">
                    Super KSY
                </h6>
                <small class="text-muted">4 hours ago (read)</small>
            </div>
            <p class="mb-1">Super KSY makes a comments on your post. </p>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalLong">
                My
                First Catch!!!
            </button>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-3 ">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">
                    <img class="mr-1" src="https://placekitten.com/600/600" style="height:30px; width:30px;">
                    MINO Song
                </h6>
                <small class="text-muted">6 hours ago (read)</small>
            </div>
            <p class="mb-1"> MINO Song Like your post. </p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalLong">
                My
                First Catch!!!
            </button>
        </a>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-3 ">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">
                    <img class="mr-1" src="https://placekitten.com/600/600" style="height:30px; width:30px;">
                    MINO Song
                </h6>
                <small class="text-muted">5 days ago (read)</small>
            </div>
            <p class="mb-1">MINO Song starts to follow you.</p>
        </a>
    </div>
</div>

<!-- Footer  -->
<footer class="bg-dark text-white mt-5 p-4 text-center">
    Copyright &copy; 2018 Fishbook
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script th:src="@{/1.12.4/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>


<!-- Script for comment -->
<!-- Show comments -->
<script>
    function showComment(postid, listId){
        $.ajax({
            url: "/comment/showComment",
            data: {"postId": postid},
            success: function (result) {
                var re = result;
                var search = "#commentList" + listId;
                $(search).children().remove();
                $.each(re, function (i, val) {
                    var p = $("<p></p>").text(val.comment.content).addClass("mb-1");
                    var h6 = $("<h6></h6>").text(val.user.username).addClass("mb-1");
                    var div1 = $("<div></div>").addClass("d-flex flex-column align-items-start");
                    var small = $("<small></small>").text(val.comment.createtime).addClass("text-muted");
                    div1.append(h6);
                    div1.append(p);
                    div1.append(small);
                    var div2 = $("<div></div>").addClass("list-group-item list-group-item-action flex-column");
                    div2.append(div1);
                    $(search).append(div2);
                });
            }
        });
    }

    $(document).ready(function () {
        // $('button[name = showComment]').each(function () {
        //     var curPostid = $(this).val();
        //     $(this).click(function () {
        //         $.ajax({
        //             url: "/comment/showComment",
        //             data: {"postId": curPostid},
        //             success: function (result) {
        //                 var re = result;
        //                 var search = "#commentList" + curPostid;
        //                 alert(search);
        //                 $(search).children().remove();
        //                 $.each(re, function (i, val) {
        //                     var p = $("<p></p>").text(val.comment.content).addClass("mb-1");
        //                     var h6 = $("<h6></h6>").text(val.user.username).addClass("mb-1");
        //                     var div1 = $("<div></div>").addClass("d-flex flex-column align-items-start");
        //                     var small = $("<small></small>").text(val.comment.createtime).addClass("text-muted");
        //                     div1.append(h6);
        //                     div1.append(p);
        //                     div1.append(small);
        //                     var div2 = $("<div></div>").addClass("list-group-item list-group-item-action flex-column");
        //                     div2.append(div1);
        //                     $(search).append(div2);
        //                 });
        //             }
        //         });
        //     });
        // });
    });
</script>

<!-- Submit comment -->
<script>
    function submitComment(postid, listId){
        var textarea = "#feedback" + listId;
        $.ajax({
            url: "/comment/submitcomment",
            data: {"postId": postid, "content": $(textarea).val()},
            success: function (result) {
                var re = result;
                var search = "#commentList" + listId;
                $(search).children().remove();
                $.each(re, function (i, val) {
                    var p = $("<p></p>").text(val.comment.content).addClass("mb-1");
                    var h6 = $("<h6></h6>").text(val.user.username).addClass("mb-1");
                    var div1 = $("<div></div>").addClass("d-flex flex-column align-items-start");
                    var small = $("<small></small>").text(val.comment.createtime).addClass("text-muted");
                    div1.append(h6);
                    div1.append(p);
                    div1.append(small);
                    var div2 = $("<div></div>").addClass("list-group-item list-group-item-action flex-column");
                    div2.append(div1);
                    $(search).append(div2);
                });
                $(textarea).val("").focus();
            }
        });
    }
    // $(document).ready(function () {
    //     $('button[name = submitComment]').each(function () {
    //         $(this).click(function () {
    //             var textarea = "#feedback" + $(this).val();
    //             $.ajax({
    //                 url: "/comment/submitcomment",
    //                 data: {"postId":  $(this).val(), "content": $(textarea).val()},
    //                 success: function (result) {
    //                     var re = result;
    //                     var search = "#commentList" + $(this).val();
    //                     $(search).children().remove();
    //                     alert(11);
    //                     $.each(re, function (i, val) {
    //                         alert(11);
    //                         var p = $("<p></p>").text(val.comment.content).addClass("mb-1");
    //                         var h6 = $("<h6></h6>").text(val.user.username).addClass("mb-1");
    //                         var div1 = $("<div></div>").addClass("d-flex flex-column align-items-start");
    //                         var small = $("<small></small>").text(val.comment.createtime).addClass("text-muted");
    //                         div1.append(h6);
    //                         div1.append(p);
    //                         div1.append(small);
    //                         var div2 = $("<div></div>").addClass("list-group-item list-group-item-action flex-column");
    //                         div2.append(div1);
    //                         $(search).append(div2);
    //                         alert(11);
    //                     });
    //                     alert(11);
    //                     $(textarea).val("").focus();
    //                 }
    //             });
    //         });
    //     })
    // });

</script>

</body>

</html>