<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Bootstrap -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBrwKXsz9MEXb7-4gi7JKT_moyf_b6damk&sensor=false">
    </script>

    <script>
        function initialize()
        {
            var mapProp = {
                center:new google.maps.LatLng(51.508742,-0.120850),
                zoom:5,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };
            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
<div class="manual-reader manual-container">
    <div th:replace="/widgets/header :: header"></div>
    <div id="googleMap" style="width:500px;height:380px;"></div>
    <div th:text="${session.user.username}">username</div>
</div>
</body>
</html>