<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Fishbook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
</head>
<meta charset="UTF-8">
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>


<div id="div1">

    <h2>comment1</h2>
</div>


<button id="123" value="2">comments</button>


    <div class="form-group row align-items-center">
        <div class="col-md-12">
                      <textarea
                              class="form-control"
                              id="feedback"
                              name="feedback"
                              rows="4"
                              placeholder="Make a comment"
                      ></textarea>
        </div>
    </div>
    <div class="form-group d-flex">
        <div class="d-flex offset-8">
            <button
                    type="button"
                    class="btn btn-secondary btn-sm mr-2"
                    data-dismiss="modal"
            >
                Cancel
            </button>
            <button id="456" class="btn btn-primary btn-sm">
                Submit
            </button>
        </div>
    </div>


<script>
    $(document).ready(function () {
        $("#123").click(function () {
            $.ajax({
                url: "/comment/showComment",
                data: {"postId": $("#123").val()},
                success: function (result) {
                    var re = result;
                    $("#div1").children().remove();
                    //$("#div1").html(re[0].comment.content);
                    $.each(re, function (i, val) {
                        alert(val.comment.content);
                        // var txt2=$("<p></p>").text(val.comment.content);
                        // $("#div1").append(txt2);

                        var p = $("<p></p>").text(val.comment.content).addClass("mb-1");
                        var h6 = $("<h6></h6>").text(val.user.username).addClass("mb-1");
                        $("#div1").append(h6);
                        $("#div1").append(p);
                    });
                }
            });
        });
        $("#456").click(function () {
            $.ajax({
                url: "/comment/submitcomment",
                data: {"postId": $("#123").val(), "content" : $("#feedback").val()},
                success: function (result) {
                    var re = result;
                    $("#div1").children().remove();
                    //$("#div1").html(re[0].comment.content);
                    $.each(re, function (i, val) {
                        alert(val.comment.content);
                        // var txt2=$("<p></p>").text(val.comment.content);
                        // $("#div1").append(txt2);

                        var p = $("<p></p>").text(val.comment.content).addClass("mb-1");
                        var h6 = $("<h6></h6>").text(val.user.username).addClass("mb-1");
                        $("#div1").append(h6);
                        $("#div1").append(p);
                    });
                }
            });
        });
    });
</script>

</head>
<body>

</body>
</html>