<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>


    <div id="div1"><h2>comment1</h2></div>
    <button>comments</button>

    <script>
        $(document).ready(function(){
            $("button").click(function(){
                $.ajax({url:"/comment/showComment",
                    data: {"postId" : 2},
                    success:function(result){
                        var re = result;
                        $("#div1").html(re[0].comment.content);
                    }});
            });
        });
    </script>
</head>
<body>

</body>
</html>