<div class="footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row text-center">
            <ul>
                <li><a href="https://github.com/jzhan160">Jiacheng's GitHub</a></li>
                <li>&nbsp;·&nbsp;</li>
                <li><a href=" " target="_blank">Terms of Service</a> </li>
                <li>&nbsp;·&nbsp;</li>
                <li><a href="">Privacy Policy</a> </li>
            </ul>
        </div>
    </div>
</div>