<header
        xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <!-- Navbar: left -->
        <div class="navbar-collapse collapse w-75 order-2 order-md-0 navbarNavDropdown ml-5">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="/index"> <i class="fa fa-home d-none d-lg-inline"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map/"> <i class="fas fa-map-pin d-none d-lg-inline"></i> Map</a>
                </li>
                <li class="nav-item" th:if="${session.user!=null}">
                    <a class="nav-link" href="/relation/followees"> <i class="fas fa-thumbs-up d-none d-lg-inline"></i>
                        Following</a>
                </li>
                <li class="nav-item" th:if="${session.user!=null}">
                    <a class="nav-link" href="/relation/followers"> <i class="fas fa-user-friends d-none d-lg-inline"></i>
                        Follower</a>
                </li>
            </ul>
        </div>
        <!-- Navbar: brand -->
        <div class="mx-auto order-0 order-md-1">
            <a class="navbar-brand" href="/index"> <i class="fas fa-fish"></i> Fishbook </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- Navbar: right -->
        <div class="navbar-collapse collapse w-75 order-1 navbarNavDropdown mr-5">
            <ul class="navbar-nav ml-auto" th:if="${session.user}">
                <li>
                    <img class="rounded-circle img-thumbnail" th:src=${session.user.imagepath} style="height:40px; width:40px;" >
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" th:text="${session.user.username}">
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/account/profile">Profile</a>
                        <a class="dropdown-item" href="/account/notification">Notifications</a>
                        <a class="dropdown-item" href="/account/setting">Setting</a>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/account/notification">
                        <i class="fa fa-bell" style="font-size:20px;"></i>
                        <span class="badge badge-notify" style="font-size:13px;">4</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" th:if="${session.user==null}">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#loginModal"> <i class="fas fa-user mr-2"></i>Sign
                        in</a>
                </li>
            </ul>
        </div>
    </nav>



</header>